apiversion: v2
name: onecx-theme
version: 0.0.0
appversion: 0.0.0
dependencies:
- name: helm-product
  version: 0.3.0
  repository: oci://ghcr.io/onecx/charts
  alias: product
- name: onecx-infra-kc-operator
  alias: keycloak-operator
  version: ">=0.0.0-0"
  repository: oci://ghcr.io/onecx/charts
  condition: deployment.keycloak-operator
- name: reloader
  alias: reloader
  version: ">=0.0.0"
  repository: https://stakater.github.io/stakater-charts
  condition: deployment.reloader
- name: kubernetes-secret-generator
  alias: kubernetes-secret-generator
  version: ">=0.0.0"
  repository: https://helm.mittwald.de
  condition: deployment.kubernetes-secret-generator
- name: prometheus
  alias: prometheus
  version: ">=0.0.0"
  repository: https://prometheus-community.github.io/helm-charts
  condition: deployment.prometheus
- name: jaeger
  alias: jaeger
  version: ">=0.0.0"
  repository: https://jaegertracing.github.io/helm-charts
  condition: deployment.jaeger
- name: grafana
  alias: grafana
  version: ">=0.0.0"
  repository: https://grafana.github.io/helm-charts
  condition: deployment.grafana